## Publishing Data

In [1]:
from dcfs_geodb.core.geodb import GeoDBClient

In [2]:
geodb = GeoDBClient()
geodb.whoami

'geodb_admin'

### Publish Dataset to the world

In [70]:
geodb.grant_access_to_collection("land_use", 'public')

INFO:geodb.core:Access granted on land_use to public

True

In [66]:
gdf = geodb.filter_collection_by_bbox(collection="land_use", minx=452750.0, miny=88909.549, maxx=464000.0, maxy=102486.299, namespace='geodb_admin', bbox_crs=3794)
gdf

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,1,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((453952.629 91124.177, 453952.696 911...",4770326,1410,2019-03-26
1,2,2020-01-24T10:06:15.581907+00:00,2020-01-24T10:07:48.07096+00:00,"POLYGON ((453810.376 91150.199, 453812.552 911...",4770325,1300,2000-01-01
2,4,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((455929.405 97963.785, 455933.284 979...",2305596,1100,2019-02-25
3,5,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((461561.512 96119.256, 461632.114 960...",2310160,1100,2019-03-11
4,6,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((458139.092 95583.227, 458136.249 955...",3602865,1500,2019-01-05
...,...,...,...,...,...,...,...
9438,9823,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((460637.334 96865.891, 460647.927 969...",6253989,1600,2019-03-08
9439,9824,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((459467.868 96839.686, 459467.770 968...",6252044,1600,2019-03-26
9440,9825,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((459488.998 94066.248, 459498.145 940...",6245985,2000,2019-04-08
9441,9826,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((459676.680 94000.000, 459672.469 939...",6245986,2000,2019-02-20
9442,9827,2020-01-24T10:06:15.581907+00:00,None,"POLYGON ((459690.580 94042.607, 459686.872 940...",6245987,2000,2019-03-11

## Revoke access

In [67]:
geodb = GeoDBClient()
geodb.whoami

'geodb_admin'

In [68]:
geodb.list_grants()

[{'table_name': 'geodb_admin_land_use', 'grantee': 'PUBLIC'}]

In [69]:
geodb.revoke_access_to_collection("land_use")

INFO:geodb.core:Access revoked from land_use of public

True

In [42]:
geodb = GeoDBClient(access_token=a.access_token)
geodb.whoami

'helge'

In [72]:
gdf = geodb.filter_collection_by_bbox(collection="land_use", minx=452750.0, miny=88909.549, maxx=464000.0, maxy=102486.299,
                           bbox_mode="contains", bbox_crs=3794, limit=2, offset=10, namespace='geodb_admin')
gdf

ValueError: Dataset geodb_admin_land_use does not exist