# geoDB Access

The geoDB is a service provided by the [Euro Data Cube project](https://eurodatacube.com) (EDC) as a payed service. It comes
with a Python client that provides hugh level acess to your data and a certain amount of space in a PostGreSQL database. For managing (as sharing is) 
your data you will need a management (read/write) account to your database which you can purchase at the [EDC market place](https://hub.eox.at).

You can access the service in two ways:

- By using the Jupyter Python notebook provided by EOX (configuartion free, ```geodb = GeoDBClient()```)
- By using you own Jupyter notebook or Python script by providing a client id and secret to the GeoDBClient (```geodb = GeoDBClient(client_id="myid", client_secret="mysecet")```)

The client ID and secret is also provided by EOX in the latter case. You will find them in your EOX hub account section. You can also provide the credentials
via system environment varibles (GEODB_AUTH_CLIENT_ID and GEODB_AUTH_CLIENT_SECRET). These variables can be supplied via a .env file. 

There are two different types of geoDB accounts: a read only and a management (read/write) access. The system will determine your access right through your 
authentication credentials.

## Sharing Data

In [1]:
from xcube_geodb.core.geodb import GeoDBClient

In [2]:
geodb = GeoDBClient()
geodb.whoami

'geodb_admin'

### Publish a Collection to the World

In [13]:
geodb.list_my_grants()

      Grants
0  No Grants

In [14]:
geodb.publish_collection("land_use")

Access granted on land_use to geodb_admin

### Accessing Collection as a different User

Please be aware that you cannot change the user easily within a Notebook. Here, we changed the credentials in the background. The following cells will not run and are for demonstration only.

In [16]:
geodb = GeoDBClient()
geodb.whoami

'geodb_0d6df427-8c09-41b9-abc9-64ce13a68125'

In [17]:
geodb.get_collection('land_use', database='geodb_admin')

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,1,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((453952.629 91124.177, 453952.696 911...",4770326,1410,2019-03-26
1,2,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((453810.376 91150.199, 453812.552 911...",4770325,1300,2019-03-26
2,3,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((456099.635 97696.070, 456112.810 976...",2305689,7000,2019-02-25
3,4,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((455929.405 97963.785, 455933.284 979...",2305596,1100,2019-02-25
4,5,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((461561.512 96119.256, 461632.114 960...",2310160,1100,2019-03-11
...,...,...,...,...,...,...,...
9822,9823,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((460637.334 96865.891, 460647.927 969...",6253989,1600,2019-03-08
9823,9824,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((459467.868 96839.686, 459467.770 968...",6252044,1600,2019-03-26
9824,9825,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((459488.998 94066.248, 459498.145 940...",6245985,2000,2019-04-08
9825,9826,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((459676.680 94000.000, 459672.469 939...",6245986,2000,2019-02-20
9826,9827,2020-08-21T11:56:35.961115+00:00,None,"POLYGON ((459690.580 94042.607, 459686.872 940...",6245987,2000,2019-03-11

### Revoke access

In [3]:
geodb.list_my_grants()

  table_name grantee privileges
0   land_use  PUBLIC     SELECT

In [4]:
geodb.unpublish_collection("land_use")

Access revoked for land_use from geodb_admin

In [5]:
geodb.list_my_grants()

      Grants
0  No Grants

In [12]:
gdf = geodb.get_collection_by_bbox(collection="land_use", bbox=(452750.0, 88909.549, 464000.0, 102486.299),
                comparison_mode="contains", bbox_crs=3794, limit=2, offset=10)
gdf

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,11,2020-08-21T11:45:29.012315+00:00,None,"POLYGON ((460137.998 95628.898, 460111.001 956...",5983161,1100,2019-03-11
1,12,2020-08-21T11:45:29.012315+00:00,None,"POLYGON ((453673.609 91328.224, 453678.929 913...",5983074,1600,2019-03-26

### Accessing Collection as a different User

Please be aware that you cannot change the user easily within a Notebook. Here, we changed the credentials in the background. The following cells will not run and are for demonstration only.

In [7]:
geodb = GeoDBClient()
geodb.whoami

'geodb_0d6df427-8c09-41b9-abc9-64ce13a68125'

In [8]:
geodb.get_collection('land_use', database='geodb_admin')

GeoDBError: permission denied for relation geodb_admin_land_use