## Publishing Data

In [3]:
from dcfs_geodb.core.geodb import GeoDBClient

In [23]:
geodb = GeoDBClient()
geodb.whoami

'helge'

### Publish Dataset to the world

In [24]:
geodb.get_collections()

  table_name
0  land_use3
1   land_use

In [25]:
geodb.grant_collection_access_to_namespace("land_use", 'public')

INFO:geodb.core:Access granted on land_use to public

True

In [26]:
geodb = GeoDBClient(anonymous=True)
geodb.whoami

'publicaccess'

In [29]:
gdf = geodb.filter_collection_by_bbox(collection="land_use", minx=452750.0, miny=88909.549, maxx=464000.0, maxy=102486.299, namespace='helge', bbox_crs=3794)
gdf

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,1,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((453952.629 91124.177, 453952.696 911...",4770326,1410,2019-03-26
1,2,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((453810.376 91150.199, 453812.552 911...",4770325,1300,2019-03-26
2,3,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((456099.635 97696.070, 456112.810 976...",2305689,7000,2019-02-25
3,4,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((455929.405 97963.785, 455933.284 979...",2305596,1100,2019-02-25
4,5,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((461561.512 96119.256, 461632.114 960...",2310160,1100,2019-03-11
...,...,...,...,...,...,...,...
9822,9823,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((460637.334 96865.891, 460647.927 969...",6253989,1600,2019-03-08
9823,9824,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((459467.868 96839.686, 459467.770 968...",6252044,1600,2019-03-26
9824,9825,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((459488.998 94066.248, 459498.145 940...",6245985,2000,2019-04-08
9825,9826,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((459676.680 94000.000, 459672.469 939...",6245986,2000,2019-02-20
9826,9827,2020-01-22T17:14:24.915477+00:00,None,"POLYGON ((459690.580 94042.607, 459686.872 940...",6245987,2000,2019-03-11

## Revoke access

In [39]:
geodb = GeoDBClient()
geodb.whoami

'helge'

In [40]:
geodb.list_grants()

[{'table_name': 'helge_land_use3', 'grantee': 'PUBLIC'},
 {'table_name': 'helge_land_use', 'grantee': 'PUBLIC'}]

In [41]:
geodb.revoke_access_to_collection("land_use")

INFO:geodb.core:Access revoked from land_use of public

True

In [42]:
geodb = GeoDBClient(anonymous=True)
geodb.whoami

'publicaccess'

In [43]:
gdf = geodb.filter_collection_by_bbox(collection="land_use", minx=452750.0, miny=88909.549, maxx=464000.0, maxy=102486.299,
                           bbox_mode="contains", bbox_crs=3794, limit=2, offset=10, namespace='helge')
gdf

ValueError: Dataset helge_land_use does not exist