# Explore geoDB Collections

The geoDB is a service provided by the [Euro Data Cube project](https://eurodatacube.com) (EDC) as a paid service. It comes
with a Python client that provides hugh level access to your data, and a certain amount of space in a PostGreSQL database. For exploring data you will need
at least a read only to the geoDB which you can purchase at the [EDC market place](https://hub.eox.at).

You can access the service in two ways:

- By using the Jupyter Python notebook provided by EDC Marketplace (configuration free, ```geodb = GeoDBClient()```)
- By using you own Jupyter notebook or Python script by providing a client id and secret to the GeoDBClient (```geodb = GeoDBClient(client_id="myid", client_secret="mysecet")```)

The client ID and secret is also provided by EDC in the latter case. You will find them in your EDC Marketplace account section. You can also provide the credentials
via system environment variables (GEODB_AUTH_CLIENT_ID and GEODB_AUTH_CLIENT_SECRET). These variables can be supplied via a .env file.

## Exploring Data

from xcube_geodb.core.geodb import GeoDBClient

##  Login from any maschine
### uncomment if not on EDC

Install xcube geoDB with command:
  
 `conda install xcube_geodb -c conda-forge`

#client_id=YourID
#client_secret=YourSecret
#geodb = GeoDBClient(client_id=client_id, client_secret=client_secret, auth_mode="client-credentials")

## Login in EDC environment
### comment if not on EDC

geodb = GeoDBClient(client_id='cde4fa20cbc44de6b7c80725ef720801', client_secret='AQmFjwU77xGryKLJ8xQzgIu6NZCrasOSFmmBSMfFY7s', server_url="https://xcube-geodb.brockmann-consult.de")

In [2]:
### Get your user name

##  Login from any maschine
### uncomment if not on EDC

Install xcube geoDB with command:
  
 `conda install xcube_geodb -c conda-forge`

In [3]:
#client_id=YourID
#client_secret=YourSecret
#geodb = GeoDBClient(client_id=client_id, client_secret=client_secret, auth_mode="client-credentials")

## Login in EDC environment
### comment if not on EDC

In [10]:
geodb = GeoDBClient(client_id='cde4fa20cbc44de6b7c80725ef720801', client_secret='AQmFjwU77xGryKLJ8xQzgIu6NZCrasOSFmmBSMfFY7s', server_url="https://xcube-geodb.brockmann-consult.de")

### Get your user name

In [11]:
geodb.whoami

'geodb_17c146f6-e133-4ab9-8c9b-6eef968876d6'

In [13]:
geodb.get_my_collections(database="avl")

,owner,database,collection,table_name
0,geodb_17c146f6-e133-4ab9-8c9b-6eef968876d6,avl,lpis_belgium,lpis_belgium
1,geodb_17c146f6-e133-4ab9-8c9b-6eef968876d6,avl,lpis_france,lpis_france
2,geodb_17c146f6-e133-4ab9-8c9b-6eef968876d6,avl,lpis_wallonia,lpis_wallonia

In [16]:
gdf = geodb.head_collection('lpis_belgium', database='avl') 
gdf

,id,created_at,modified_at,geometry,ori_crop,cropnum,cropname,unique_id,holding_id,ori_id,...,ctnuml4a,ctl4a,ctnumdiv,ctdiv,eaa,al,pgrass,tgrass,fallow,cwater
0,1,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((201416.633 187986.448, 201459....",1053,1053,Fallow,94904.0,1.0,94904,...,1053,Fallow,10053,Fallow,0,0,0,0,0,0
1,2,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((163321.100 122418.700, 163329....",1051,1051,Grassland,220622.0,1.0,220622,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
2,3,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((197997.700 131339.351, 198127....",1051,1051,Grassland,236306.0,1.0,236306,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
3,4,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((167722.406 194510.682, 167749....",1028,1028,Maize,117640.0,1.0,117640,...,1028,Maize,10028,Maize,1,1,0,0,0,0
4,5,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((177113.807 208653.956, 177145....",1051,1051,Grassland,122892.0,1.0,122892,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
5,6,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((221544.000 78617.750, 221540.2...",1051,1051,Grassland,204132.0,1.0,204132,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
6,7,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((246159.750 69505.250, 246176.5...",1051,1051,Grassland,248200.0,1.0,248200,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
7,8,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((180277.529 120185.519, 180290....",8515,8515,Strawberries,279534.0,1.0,279534,...,8515,Strawberries,9516,Strawberries (yearly),1,1,0,0,0,0
8,9,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((207316.833 63843.333, 207367.6...",1051,1051,Grassland,211971.0,1.0,211971,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
9,10,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((186180.896 162265.483, 186197....",1051,1051,Grassland,23460.0,1.0,23460,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0

In [19]:
gdfsub = geodb.get_collection('lpis_belgium', query='ctl4a=eq.Grassland', database='avl', limit=10)
gdfsub

,id,created_at,modified_at,geometry,ori_crop,cropnum,cropname,unique_id,holding_id,ori_id,...,ctnuml4a,ctl4a,ctnumdiv,ctdiv,eaa,al,pgrass,tgrass,fallow,cwater
0,2,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((163321.100 122418.700, 163329....",1051,1051,Grassland,220622.0,1.0,220622,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
1,3,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((197997.700 131339.351, 198127....",1051,1051,Grassland,236306.0,1.0,236306,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
2,5,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((177113.807 208653.956, 177145....",1051,1051,Grassland,122892.0,1.0,122892,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
3,6,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((221544.000 78617.750, 221540.2...",1051,1051,Grassland,204132.0,1.0,204132,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
4,7,2021-08-17T11:41:46.646124+00:00,None,"MULTIPOLYGON (((246159.750 69505.250, 246176.5...",1051,1051,Grassland,248200.0,1.0,248200,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185722,372288,2021-08-17T11:50:56.53813+00:00,None,"MULTIPOLYGON (((242515.250 108566.250, 242536....",1051,1051,Grassland,219668.0,1.0,219668,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
185723,372291,2021-08-17T11:50:56.53813+00:00,None,"MULTIPOLYGON (((192882.125 76794.125, 192914.7...",1051,1051,Grassland,291545.0,1.0,291545,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
185724,372292,2021-08-17T11:50:56.53813+00:00,None,"MULTIPOLYGON (((243739.750 125033.375, 243775....",1051,1051,Grassland,310706.0,1.0,310706,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
185725,372294,2021-08-17T11:50:56.53813+00:00,None,"MULTIPOLYGON (((246988.509 157995.897, 247054....",1051,1051,Grassland,330878.0,1.0,330878,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0
185726,372301,2021-08-17T11:50:56.53813+00:00,None,"MULTIPOLYGON (((180612.984 202055.133, 180632....",1051,1051,Grassland,75791.0,1.0,75791,...,1051,Grassland,10051,Grassland,1,1,0,1,0,0